In [1]:
import pandas as pd
bank = pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-2/master/Data/bank.csv')
bank.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,46,blue-collar,married,basic.9y,no,no,yes,telephone,may,tue,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,29,admin.,single,university.degree,no,no,no,cellular,may,wed,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.281,5099.1,no
2,50,management,married,university.degree,no,yes,yes,cellular,apr,fri,...,1,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no
3,31,admin.,married,high.school,unknown,yes,no,telephone,may,thu,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
4,32,admin.,single,high.school,no,yes,no,cellular,jun,tue,...,1,999,0,nonexistent,-2.9,92.963,-40.8,1.262,5076.2,yes

In [2]:
bank.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [3]:
bank.shape

(10297, 21)

In [4]:
bank.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000
mean,40.080606,261.388268,2.561134,963.609692,0.171506,0.077256,93.574206,-40.445780,3.621923,5166.850442
std,10.472190,263.722874,2.827084,184.098592,0.496992,1.576732,0.577502,4.622221,1.734170,72.492914
min,18.000000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.000000,103.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.000000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.000000,327.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,94.000000,3643.000000,56.000000,999.000000,6.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [5]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10297 entries, 0 to 10296
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             10297 non-null  int64
 1   job             10297 non-null  object
 2   marital         10297 non-null  object
 3   education       10297 non-null  object
 4   default         10297 non-null  object
 5   housing         10297 non-null  object
 6   loan            10297 non-null  object
 7   contact         10297 non-null  object
 8   month           10297 non-null  object
 9   day_of_week     10297 non-null  object
 10  duration        10297 non-null  int64
 11  campaign        10297 non-null  int64
 12  pdays           10297 non-null  int64
 13  previous        10297 non-null  int64
 14  poutcome        10297 non-null  object
 15  emp.var.rate    10297 non-null  float64
 16  cons.price.idx  10297 non-null  float64
 17  cons.conf.idx   10297 non-null  float64
 18  euribor3m       10297 non-null  float64
 19  nr.employed     10297 non-null  float64
 20  y               10297 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 1.6+ MB

In [6]:
bank.y.value_counts()

no     9137
yes    1160
Name: y, dtype: int64

In [7]:
def me():
    print ('Missing values:',bank.isnull().sum())
me()

Missing values: age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [8]:
def remove_outlier(df_in, col_name):
    q1 = df_in[col_name].quantile(0.25)
    q3 = df_in[col_name].quantile(0.75)
    iqr = q3-q1 
    lower_bound = df_in[col_name].min()
    upper_bound = q3+1.5*iqr
    print('Column',col_name,'IQR lower bound and upper bound are', lower_bound, 'and', upper_bound, 'respectively')
    df_out = df_in.loc[(df_in[col_name] > lower_bound) & (df_in[col_name] < upper_bound)]
    return df_out

In [9]:
def me(bank):
    return remove_outlier(bank, 'age')
bank = me(bank)

Column age IQR lower bound and upper bound are 18 and 69.5 respectively

In [10]:
def me(bank):
    return remove_outlier(bank, 'campaign')
bank = me(bank)

Column campaign IQR lower bound and upper bound are 1 and 6.0 respectively

In [11]:
def me(bank):
    return remove_outlier(bank, 'duration')
bank = me(bank)

Column duration IQR lower bound and upper bound are 0 and 684.0 respectively

In [12]:
bank_cat=bank[['job', 'marital','default', 'education', 'loan', 'housing', 'contact', 'month', 'day_of_week', 'poutcome', 'y']]

In [13]:
bank_cont = bank.drop(['job', 'marital','default', 'education', 'loan', 'housing', 'contact', 'month', 'day_of_week', 'poutcome', 'y'], axis=1)

In [14]:
from sklearn.preprocessing import LabelEncoder
def me(bank_cat):
    return bank_cat.apply(LabelEncoder().fit_transform)
bank_cat = me(bank_cat)

In [15]:
bank_final= pd.concat([bank_cont, bank_cat], axis = 1)

In [16]:
X = pd.DataFrame()
def me():
    X = bank_final.loc[:,bank.columns != 'y']
    return X
X = me()

In [17]:
y = pd.DataFrame()
def me():
    y = bank_final.loc[:,bank.columns == 'y']
    return y
y = me()

In [18]:
#Splitting X and y 
from sklearn.model_selection import train_test_split
def me():
    return train_test_split(X, y , test_size = 0.25, random_state = 1)
X_train , X_test ,y_train , y_test = me()

In [19]:
def me():
    print(X_train.shape)
    print(y_train.shape)
me()

(3465, 20)
(3465, 1)

In [20]:
def me():
    print(X_test.shape)
    print(y_test.shape)
me()

(1156, 20)
(1156, 1)

In [21]:
from sklearn.ensemble import RandomForestClassifier
def me():
    rf = RandomForestClassifier(n_estimators = 600)
    return rf
rf = me()

In [22]:
def me():
    return rf.fit(X_train,y_train)
me()

<ipython-input-22-27b54d77a2b3>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return rf.fit(X_train,y_train)

RandomForestClassifier(n_estimators=600)

In [23]:
predictions_new = pd.DataFrame()
def me():
    predictions_new = rf.predict(X_test)
    return predictions_new
predictions_new = me()

In [24]:
#Model Evaluation for Accuracy Score
from sklearn.metrics import accuracy_score
def me():
    print('Accuracy score for test data is :',accuracy_score(y_test,predictions_new))
me()

Accuracy score for test data is : 0.9403114186851211

In [25]:
from sklearn.metrics import confusion_matrix
confusion_matrix = pd.DataFrame(confusion_matrix(y_test,predictions_new))
def me():
    confusion_matrix.index = ['Actual No_deposit','Actual Deposit']
    confusion_matrix.columns = ['Predicted No_Deposit','Predicted Deposit']
    print(confusion_matrix)
me()

                   Predicted No_Deposit  Predicted Deposit
Actual No_deposit                  1058                 18
Actual Deposit                       51                 29

In [26]:
from sklearn.metrics import precision_score
def me():
    print('Precision score for test data is : ',precision_score(y_test,predictions_new))
me()

Precision score for test data is :  0.6170212765957447

In [27]:
from sklearn.metrics import recall_score
def me():
    recall = recall_score(y_test,predictions_new)
    print('Recall score for test data is: ',recall)
    return recall
recall = me()

Recall score for test data is:  0.3625